<div class="modal fade" id="AddIndividualModal" tabindex="-1" role="dialog" aria-labelledby="AddIndividualModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить нового индивида</h5>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('add_individual') }}" method="POST">
                <div class="form-group">
                    <label>ID места</label>
                    <input class="form-control" name="place_uid">
                </div>
                <div class="form-group">
                    <label>Место раскопок</label>
                    <input class="form-control" name="place" placeholder="Льговский курган">
                </div>
                <div class="form-group">
                    <label>Название</label>
                    <input class="form-control" name="name" placeholder="Погребение 1">
                </div>
                <div class='form-group'>
                    <label>Год раскопок</label>
                    <input class="form-control" name="year_of_excavation" placeholder="2017">
                </div>
                <div class='form-group'>
                    <label>Тип индивида</label>
                    <select class="form-select" name="individual_type" aria-label="Тип индивида">
                        <option selected>Не определен</option>
                        <option value="Ингумация">Ингумация</option>
                        <option value="Кремация">Кремация</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label>Пол</label>
                    <select class="form-select" name="sex" aria-label="Пол">
                        <option selected>Не определен</option>
                        <option value="Мужчина">Мужчина</option>
                        <option value="Женщина">Женщина</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label>Возраст</label>
                    <input class="form-control" name="age" placeholder="25-35">
                </div>
                <div class='form-group'>
                    <label>Сохранность</label>
                    <select class="form-select" name="preservation" aria-label="Сохранность">
                        <option selected>Не определена</option>
                        <option value="Хорошая">Хорошая</option>
                        <option value="Средняя">Средняя</option>
                        <option value="Плохая">Плохая</option>
                        <option value="Очень плохая">Очень плохая</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label>Эпоха</label>
                    <select class="form-select" name="epoch" aria-label="Эпоха">
                        <option selected>Не определена</option>
                        <option value="Новое и новейшее время">Новое и новейшее время</option>
                        <option value="Позднее средневековье">Позднее средневековье</option>
                        <option value="Средневековье">Средневековье</option>
                        <option value="Раннее средневековье">Раннее средневековье</option>
                        <option value="Эпоха великого переселения">Эпоха великого переселения</option>
                        <option value="Античное время">Античное время</option>
                        <option value="Ранний железный век">Ранний железный век</option>
                        <option value="Поздний бронзовый век">Поздний бронзовый век</option>
                        <option value="Бронзовый век">Бронзовый век</option>
                        <option value="Ранний бронзовый век">Ранний бронзовый век</option>
                        <option value="Энеолит">Энеолит</option>
                        <option value="Неолит">Неолит</option>
                        <option value="Мезолит">Мезолит</option>
                        <option value="Палеолит">Палеолит</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label>Комментарии</label>
                    <input class="form-control" name="comments" placeholder="Массивный скелет, охра на черепе">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
