<div class="modal fade" id="GetIndividualModal" tabindex="-1" role="dialog" aria-labelledby="GetIndividualModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Обновить данные индивида</h5>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="get-individual" action="{{ url_for('get_individual') }}" method="GET">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" name="uid" placeholder="1">
                        <small class="form-text text-muted">ID индивида можно посмотреть в списке всех индивидов</small>
                    </div>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Получить данные индивида</button>
                    <button type="button" class="btn-close" id="get-ind-modal-close-btn" data-bs-dismiss="modal" aria-label="Close" style="display:none;"></button>
                </form>
            </div>
        </div>
    </div>
</div>
