<div class="modal fade" id="AddPlaceModal" tabindex="-1" role="dialog" aria-labelledby="AddPlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить новое место</h5>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('add_place') }}" method="POST">
                <div class="form-group">
                    <label>Название</label>
                    <input class="form-control" name="name" placeholder="Погребение 1">
                </div>
                <div class='form-group'>
                    <label>Глава экспедиции</label>
                    <input class="form-control" name="head_of_excavations" placeholder="2017">
                </div>
                <div class='form-group'>
                    <label>Тип захоронения</label>
                    <input class="form-control" name="type_of_burial_site" placeholder="Прекрасный">
                </div>
                <div class='form-group'>
                    <label>Координаты</label>
                    <input class="form-control" name="coordinates" placeholder="8888.2222.2333">
                </div>
                <div class='form-group'>
                    <label>Комментарии</label>
                    <input class="form-control" name="comments" placeholder="Массивный скелет, охра на черепе">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>