{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Места раскопок</h2>
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-light">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Автор раскопок</th>
            <th scope="col">Тип могильника</th>
            <th scope="col">GPS-координаты</th>
            <th scope="col">Комментарии</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
            <tr>
                <th scope="row">{{ place.uid }}</th>
                <td>{{ place.name }}</td>
                <td>{{ place.head_of_excavations }}</td>
                <td>{{ place.type_of_burial_site }}</td>
                <td>{{ place.coordinates }}</td>
                <td>{{ place.comments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPlaceModal">Добавить место</button>
            {% include 'places/add_place.html' %}
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#GetPlaceModal">Изменить данные о месте</button>
            {% include 'places/get_place_modal.html' %}
            {% include 'places/update_place_modal.html' %}
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeletePlaceModal">Удалить место</button>
            {% include 'places/delete_place_modal.html' %}
        </div>
    </div>
</div>
{% endblock %}
