<div class="modal fade" id="DeletePlaceModal" tabindex="-1" role="dialog" aria-labelledby="DeletePlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удалить место раскопок</h5>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('places.delete_place') }}" method="POST">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" name="uid" placeholder="1">
                        <small class="form-text text-muted">ID места раскопок можно посмотреть в списке всех индивидов</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
