<div class="modal fade" id="GetPlaceModal" tabindex="-1" role="dialog" aria-labelledby="GetPlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Обновить данные места раскопок</h5>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="get-place" action="{{ url_for('get_place') }}" method="POST">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" name="id" placeholder="1">
                        <small class="form-text text-muted">ID места можно посмотреть в списке всех мест раскопок</small>
                    </div>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Получить данные места раскопок</button>
                    <button type="button" class="btn-close" id="get-place-modal-close-btn" data-bs-dismiss="modal" aria-label="Close" style="display:none;"></button>
                </form>
            </div>
        </div>
    </div>
</div>
