{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <div class="row ">
        <div class="col-1 align-self-start"></div>
        <div class="col-10 align-self-center">
            <img src="/static/static_img/1.jpg" class="d-block w-100 img-thumbnail" alt="boxes">
            <br>
            <br>
            <p class="h3">Содержание каталога</p>
            <p>
                Электронный каталог содержит информацию о всех материалах, находящихся в хранении.
                В соответствующих разделах можно найти информацию о местах раскопок (вкладка "Места") и отдельных единицах хранения (вкладка "Индивиды").
                Доступно добавление, редактирование и удаление записей в каталоге.
            </p>

        </div>
        <div class="col-1 align-self-end"></div>
    </div>
</div>

{% endblock %}
